 * {
   box-sizing: border-box;
 }

 .input-wrapper {
   display: flex;
   justify-content:  flex-end;
   width: 250px;
   padding: 5px;
   padding-right: 30px;
 }

 .input-wrapper input,
 .input-wrapper select,
 .input-wrapper button {
    width: 135px;
    margin-left: 30px;
 }

 .align-center {
   text-align: center;
 }

 .main-layout {
   display: flex;
   justify-content: center;
   margin-left: auto;
   margin-right: auto;
 }

 .main-layout__rates {
   min-width: 300px;
 }

 td {
   border: 1px solid black;
   min-width: 100px;
 }

 tr:nth-child(even) {
   background-color: #eee;
 }

 thead {
   background-color: #2188b6;
 }

 thead td {
   padding: 3px;
 }

 table {
   border-spacing: 0;
   border: 1px solid black;
 }

 .cursor-pointer {
  cursor: pointer;
 }

 tr.highlight {
   background-color: #fcd998;
 }

 .noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  }

  .grey-text {
    color: #eeeeee;
  }